.container {
  padding: 1rem 30vw;
}

.largecontainer {
  padding: 1rem 20vw;
}

.section {
  border: 1px solid var(--sectionborder);
  border-top: 8px solid var(--sectionborder);
  background-color: var(--navbg);
}

.section_btn {
  text-align: center;
  margin: 1em;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 2rem 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description,
.contenttitle {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.contenttitle {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 2rem;
}

.content {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: var(--codebg);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.cards_item {
  display: flex;
  padding: 2rem 1rem;
  /* align-items: center; */
  justify-content: center;
  max-width: 350px;
  min-width: 300px;
}

.card {
  border-radius: 5px;
  box-shadow: 0 10px 20px -5px var(--cardshadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 300px;
  border: 1px solid var(--bg);
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 0 20px 40px 0 var(--cardshadow);
  transform: scale(1.05);
  transition: 0.3s;
  transition-timing-function: ease;
}

.card_content {
  padding: 1rem;
  background: var(--codebg);
  height: 30vh;
  min-height: 250px;
  position: relative;
}

.card_title {
  color: var(--fg);
  font-size: 1rem;
  font-weight: 700;
  /* letter-spacing: 1px; */
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: var(--fg);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card_date {
  color: var(--fg);
  font-size: 0.875rem;
  font-weight: 400;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
    min-width: 300px;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
    min-width: 300px;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.img {
  height: 30vh;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.card_bottom {
  width: 100%;
  position: absolute;
  bottom: 5px;
  text-align: center;
  background-color: var(--codebg);
  box-shadow: 0 -10px 20px 10px var(--codebg);
  padding: 15px;
}

.btn {
  color: var(--fg);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  cursor: pointer;
  border: 1px solid var(--fg);
  background: transparent;
  margin-top: 5px;
}

.btn:hover {
  background-color: var(--fg);
  color: var(--bg);
}

.card_tags {
  text-align: start;
}

.card_tag {
  color: var(--fg);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 400;
  background-color: var(--tags);
  display: inline-flex;
  margin: 0px 5px 5px 0px;
}

.tags {
  text-align: start;
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

.post_tags {
  text-align: start;
  display: inline-flex;
  justify-content: flex-start;
  margin: 40px 0px 0px 0px;
}

.tag {
  color: var(--fg);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 400;
  background-color: var(--tags);
  display: inline-flex;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
}

.blogtitle {
  margin: 1rem 0 0 0;
  line-height: 1.15;
  font-size: 3rem;
}

.blogdescription {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 1400px) {
  .container {
    padding: 1rem 20vw;
  }

  .largecontainer {
    padding: 1rem 15vw;
  }

  .tags {
    display: block;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 1rem 10vw;
  }

  .largecontainer {
    padding: 1rem 8vw;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .container {
    padding: 1rem 5vw;
  }

  .largecontainer {
    padding: 1rem 2vw;
  }
}

@media (max-width: 450px) {
  .cards {
    justify-content: center;
  }
}
